	.ContainerMijloc{
	position:relative;
	width:100%;
	height:50%;
	background-color: rgb(117,0,0);
	}
	.ADP1{
	color: white;
	position:absolute;
	font-size: 3vw;
	left:10%;
	}
	.ADP2{
	color: white;
	left:5%;
	top:30%;
	position:absolute;
	font-size: 2vw;
	}
	.ADP3{
	color: white;
	left:5%;
	top:50%;
	position:absolute;
	font-size: 2vw;
	}
	